.bordeH {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: #006e5e;
    color: white;
    font-size: small;
    height: 40px;
  }
  
  .borde {
    border: 1px solid #6168e0;
    background-color: white;
    color: green;
    font-size: small;
    height: 40px;
  }