<ion-header>
  <ion-toolbar color="verde2">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <img src="../../../assets/img/logo-sag.png" width="30" height="30" />
        </ion-col>
        <ion-col size="11">
          <ion-title>RDPPSSA - INFLUENZA AVIAR 1.1</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button routerLink="/power-bi" slot="end">
      <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3 style="width: 100%;text-align: center;">Reporte Semanal de Mortalidad</h3>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <iframe title="Reporte Semanal" style="width: 100%;border: 1px solid black;" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTMyNDZiMjUtNjVhMi00MjM1LTllNWItMDBlMzJjNDc2MzA3IiwidCI6Ijc3ZWNkYTc1LTU4NjQtNDIyYS1hNTM1LTZlYTY3MTU0MDI5YyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <iframe title="Mapa Semanal " style="width: 100%;border: 1px solid black;" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYWVlMWYzNzctZDczYS00OThjLWFkYjItM2FkOWJhMWIwMWIyIiwidCI6Ijc3ZWNkYTc1LTU4NjQtNDIyYS1hNTM1LTZlYTY3MTU0MDI5YyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
