<ion-header>
  <ion-toolbar color="verde2">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <img src="../../../assets/img/logo-sag.png" width="30" height="30" />
        </ion-col>
        <ion-col size="11">
          <ion-title>RDPPSSA - INFLUENZA AVIAR 1.1</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button routerLink="/power-bi" slot="end">
      <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3 style="width: 100%;text-align: center;">Reporte de Muestras</h3>
  </ion-item>
  <iframe title="SSA Registros - Seguimiento" style="width: 100%;border: 1px solid black;" width="100%" height="600"
    src="https://app.powerbi.com/view?r=eyJrIjoiYjFjMjQ0ZDMtOWM4Yy00NmIwLTk2ZDctMzU5ZmVhNTJjOWJlIiwidCI6Ijc3ZWNkYTc1LTU4NjQtNDIyYS1hNTM1LTZlYTY3MTU0MDI5YyIsImMiOjR9"
    frameborder="0" allowFullScreen="true"></iframe>
</ion-content>