<ion-header>
  <ion-toolbar color="verde2">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <img src="../../../assets/img/logo-sag.png" width="30" height="30" />
        </ion-col>
        <ion-col size="11">
          <ion-title>RDPPSSA - INFLUENZA AVIAR 1.1</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item>
    <p> Laboratorio que contempla la implementación de una <b> Red Neural Artificial</b>
      para la clasificación multiclase con entrenamiento supervisado.
      <br>
      Para esta ocación utilizaremos datos existentes de <b>SIPEC y SSA</b> para trabajar con <b>Brucelosis Bovina</b>
      <br>


    </p>


  </ion-item> -->
  <ion-item>
    <h3 style="width: 100%;text-align: center;">M E N U</h3>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="warning">
          <ion-item color="warning">
            <ion-icon name="logo-microsoft" slot="start"></ion-icon>
            <ion-label>Reportes Power BI</ion-label>
            <ion-button color="primary" slot="end" routerLink="/power-bi">Ir</ion-button>
          </ion-item>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="azul">
          <ion-item color="azul">
            <ion-icon name="cloud-download" slot="start"></ion-icon>
            <ion-label>Descargar Excel Influenza Aviar</ion-label>
            <ion-button color="primary" slot="end" routerLink="/descargas-excel">Ir</ion-button>
          </ion-item>

          <ion-card-content>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card color="morado">
          <ion-item color="morado">
            <ion-icon name="extension-puzzle" slot="start"></ion-icon>
            <ion-label>Ingreso Mapa</ion-label>
            <ion-button color="primary" slot="end" routerLink="/mapas">Ir</ion-button>
          </ion-item>

          <ion-card-content>

          </ion-card-content>
        </ion-card>


      </ion-col>
      <ion-col>
        <ion-card color="verde2">
          <ion-item color="verde2">
            <ion-icon name="git-network" slot="start"></ion-icon>

            <ion-label>Pilotos Data Science</ion-label>
            <ion-button color="primary" slot="end" routerLink="/home">Ir</ion-button>
          </ion-item>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>





</ion-content>